---
layout: landing
title: Home
permalink: /index.html
menuorder: 1
lang: en
---
<!-- Banner -->
<section id="banner">
  <div class="inner">
    <h2>{{ site.title }}</h2>
  </div>
  <a href="#actualites" class="more scrolly">News</a>
</section>

{% for post in site.posts limit:5 %}
<section class="wrapper style1 special" style="padding: 1em">
  {% if forloop.index == 1 %}
  <div id="actualites"></div>
  {% endif %}
   <header>
     <h3><a href="{{ site.path }}{{ post.url }}">{{ post.title }}</a></h3>
    </header>
    <div style="text-align: left">{{ post.content }}</div>
</section>
{% endfor %}
